.App {
  background-color: #282c34;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  color: white;

  @media screen and (min-width: 768px) {
    align-items: center;
  }

  table {
    color: white;
  }

  .btn-blue {
    background-color: #5cd4ce;
    color: white;
    &:hover {
      background-color: #32C1CD;
    }
  }
}

form {
  label {
    color: #808080;
    font-weight: 500;
  }
}
