.App {
  background-color: #282c34;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  table {
    color: white;
  }

  .btn-blue {
    background-color: #5cd4ce;
    color: white;
    &:hover {
      background-color: #32C1CD;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

form {
  label {
    color: #808080;
    font-weight: 500;
  }
}
